<footer id="footer">
  <div class="footer-top">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Interview Test System</h3>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <!-- <h4>Apply for other SG licences</h4> -->
          <ul>
            <li><i class="bi bi-plus-circle-fill"></i> <a href="#Apply">Apply for other SG licences</a></li>
            <li><i class="bi bi-briefcase-fill"></i> <a href="#GoBusiness">Go Business</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <!-- <h4>Go Business</h4> -->
          <ul>
            <li><i class="bi bi-telegram"></i> <a href="#Contact">Contact Us</a></li>
            <li><i class="bi bi-envelope-fill"></i> <a href="#Feedback">Feedback</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="credits">
      Developed by
      <a href="https://www.linkedin.com/in/chaitanya-phadke/">
        <strong>
          <span>Chaitanya Phadke</span>
        </strong>
      </a>
    </div>
  </div>
</footer>